:root {
  --first-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
  --button-color: #4d5ae5;
  --button-hover-color: #404bbf;
  --icon-hover-color: #31d0aa;
  --title-color: #2e2f42;
  --text-color: #434455;
  --text-secondary-color: #8e8f99;
  --bg-color: #fcfcfc;
  --bg-secondary-color: #f4f4fd;
  --border-color: #e7e9fc;
  --white-color: #ffffff;
  --shadow-color: rgba(0, 0, 0, 0.15);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  overflow-x: hidden;
}

h1,
h2,
h3 {
  color: var(--title-color);
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

button {
  box-shadow: 0 4px 4px 0 var(--shadow-color);
  background: var(--button-color);
  cursor: pointer;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
  color: inherit;
  line-height: 1.5;
}

.container {
  overflow-x: hidden;
}

.section {
  padding: 96px 16px;
}

/**** Header section start ****/

.main_header {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.navbar_logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.navbar_menu {
  display: block;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar_burger {
  background: none;
  border: none;
  margin-left: auto;
  cursor: pointer;
  position: relative;
}

#navbar_burger_button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_burger svg {
  width: 24px;
  height: 24px;
}

.navbar_burger svg use {
  width: 100%;
  height: 100%;
  fill: var(--title-color);
}

.navbar_list,
.navbar_contacts {
  display: none;
}

.sidebar_menu {
  display: none;
}

.sidebar-is-open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  overflow-y: hidden;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  padding: 72px 16px;
  z-index: 2;
  background-color: var(--white-color);
}

.sidebar_modal_close {
  position: absolute;
  top: 24px;
  right: 24px;
}

.sidebar_list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sidebar_list .sidebar_item {
  font-family: var(--first-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.111;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.sidebar_list .sidebar_item:hover {
  color: var(--button-hover-color);
}

.sidebar_footer {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.sidebar_contacts {
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
  font-family: var(--first-font);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.sidebar_contacts > a:hover {
  color: var(--button-color);
}

.sidebar_icons {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
  width: 280px;
  margin-bottom: -32px;
}

.sidebar_icon_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  width: 40px;
  height: 40px;
  background: var(--button-color);
  border-radius: 50%;
  transition: background-color 0.25s ease-in-out;
}

.sidebar_list > li .sidebar_icon_box:hover {
  cursor: pointer;
  transition: background-color 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: var(--icon-hover-color);
}

.sidebar_icon {
  width: 24px;
  height: 24px;
}

/*** Header section end ****/

/**** Main section starts ****/

/** Main section > Showcase section starts **/

.showcase_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  min-height: 160px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7)),
    url(../images/showcase-bg@2x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.showcase_content h1 {
  max-width: 496px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.111;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-color);
}

.showcase_content > button {
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  border: none;
  border-radius: 4px;
}

.showcase_content > button:hover {
  background: var(--button-hover-color);
}

/** Main section > Showcase section end **/

/** Main section > Form Modal section start **/

.form_section {
  display: none;
  position: relative;
}

.is-open {
  display: block;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -45%);
  width: 200%;
  height: 800%;
  backdrop-filter: blur(1px);
  background: rgba(46, 47, 66, 0.4);
  overflow-y: hidden;
  z-index: 999;
}

.form_modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 24px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: var(--bg-color);
}

.form_modal_close {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}

.form_modal_header_box {
  margin-top: 72px;
}

.form_modal_header {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--title-color);
}

.contact_modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  position: relative;
}

.contact_modal label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: var(--text-secondary-color);
  position: relative;
}

#contact_name,
#contact_phone,
#contact_email,
#contact_comment {
  width: 100%;
  padding: 11px;
  text-indent: 25px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

#contact_comment {
  padding: 8px;
  text-indent: 5px;
}

#contact_name:focus,
#contact_phone:focus,
#contact_email:focus,
#contact_comment:focus {
  border: 1px solid var(--button-color);
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#contact_name:focus ~ .user_icon use,
#contact_phone:focus ~ .phone_icon use,
#contact_email:focus ~ .email_icon use {
  fill: var(--button-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form_icon {
  width: 18px;
  height: 18px;
  fill: var(--title-color);
}

.form_icon > use {
  width: 100%;
  height: 100%;
  fill: inherit;
}

.user_icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 28px;
  left: 16px;
}

.phone_icon {
  position: absolute;
  top: 26px;
  left: 16px;
  width: 18px;
  height: 24px;
}

.email_icon {
  position: absolute;
  top: 25px;
  left: 16px;
  width: 18px;
  height: 24px;
}

.close_icon {
  width: 24px;
  height: 24px;
}

.contact_modal > label:last-child {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 8px;
  margin-top: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6667;
  letter-spacing: 0.04em;
  color: var(--text-secondary-color);
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox_text > span {
  text-decoration: underline;
  color: var(--button-color);
  text-decoration-skip-ink: none;
  line-height: 1.33333;
}

.form_modal_button {
  padding: 16px 32px;
  margin: 8px auto 24px auto;
  width: 169px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  border: none;
  border-radius: 4px;
}

.form_modal_button:hover {
  background: var(--button-hover-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe_icon {
  width: 16px;
  height: 16px;
}

/** Main section > Form Modal section end **/

/** Main section > About Us section start **/

.about_us {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_us_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.about_us h3 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.about_us p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.about_us_icons {
  display: none;
}

/** Main section > About Us section end **/

/** Main section > Our Team section start **/

.our_team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
  background: var(--bg-secondary-color);
}

.our_team_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.our_team_list > li {
  text-align: center;
  background: var(--white-color);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our_team_list > li:hover {
  text-align: center;
  background: var(--white-color);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our_team_list > li:hover .our_team_icon_box {
  background: var(--button-hover-color);
}

.our_team_list > li img {
  margin: 0;
  display: block;
}

.our_team .card_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 32px 16px;
}

.our_team .card_description > h3,
.our_team .card_description > p {
  margin: 0;
}

.our_team_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.our_team_icon_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: var(--button-color);
  border-radius: 50%;
  transition: background-color 0.25s ease-in-out;
}

.our_team_list > li .our_team_icon_box:hover {
  cursor: pointer;
  transition: background-color 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: var(--icon-hover-color);
}

.our_team_icon {
  width: 16px;
  height: 16px;
}

/** Main section > Our Team section end **/

/** Main section > Our Portfolio section start **/

.our_portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.our_portfolio_list_top .card_overlay_container,
.our_portfolio_list_bottom .card_overlay_container {
  width: 288px;
  height: 280px;
  position: relative;
}

.our_portfolio img {
  display: block;
  object-fit: contain;
}

.our_portfolio_list_top,
.our_portfolio_list_bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.our_portfolio_list_top > li,
.our_portfolio_list_bottom > li {
  background: var(--white-color);
}

.our_portfolio_list_top > li:hover,
.our_portfolio_list_bottom > li:hover {
  cursor: pointer;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.card_overlay_container {
  position: relative;
  overflow: hidden;
}

.card_overlay {
  padding: 40px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--button-color);
  color: var(--bg-secondary-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.our_portfolio_list_top > li:hover .card_overlay,
.our_portfolio_list_bottom > li:hover .card_overlay {
  transform: translateX(0);
}

.our_portfolio .card_description {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
  border: 1px solid var(--border-color);
}

.our_portfolio .card_description > h3,
.our_portfolio .card_description > p {
  margin: 0;
}

/** Main section > Our Portfolio section end **/

/** Main section > Footer section start **/

.main_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--title-color);
}

.footer_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 96px 16px;
  gap: 72px;
}

.footer_content_about {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  width: 264px;
  color: var(--bg-secondary-color);
}

.footer_content h4 {
  font-family: var(--second-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer_content_media {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer_content_media h5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

.footer_content_media_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer_content_media_icon_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background: var(--button-color);
  border-radius: 50%;
  transition: background-color 0.25s ease-in-out;
}

.footer_content_media_icon_box:hover {
  cursor: pointer;
  transition: background-color 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: var(--icon-hover-color);
}

.footer_content_media_icon {
  width: 24px;
  height: 24px;
}

.footer_content_subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer_content_subscribe h5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

.footer_content_subscribe_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer_content_subscribe_box input {
  width: 264px;
  height: 40px;
  padding: 8px;
  text-indent: 8px;
  border: 1px solid var(--white-color);
  background: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 var(--shadow-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16667;
  letter-spacing: 0.04em;
}

#subscribe::placeholder {
  color: var(--white-color);
}

#subscribe:focus {
  border: 1px solid var(--button-color);
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_content_subscribe_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
  width: 165px;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
}

.footer_content_subscribe_button:hover {
  background: var(--button-hover-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe_icon {
  width: 24px;
  height: 24px;
}

/** Main section > Footer section end **/

/**** Main section end ****/

/**** Media Query Sections Start ****/

@media (min-width: 768px) {
  .section {
    padding: 96px 16px;
  }

  /**** Header section start ****/

  .main_header {
    padding: 24px 16px;
    border-bottom: 1px solid var(--border-color);
  }

  .main_header .navbar {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0;
  }

  .navbar_menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .navbar_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: var(--title-color);
  }

  .navbar_link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .navbar_link::after {
    content: "";
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background: var(--button-hover-color);
    display: block;
    position: absolute;
    left: 0;
    bottom: -41px;
    opacity: 0;
    transition: opacity 0.25s;
    pointer-events: none;
  }

  .navbar_link:hover,
  .navbar_link:focus,
  .navbar_contacts a:hover {
    color: var(--button-hover-color);
  }

  .navbar_link:hover::after,
  .navbar_link:focus::after {
    opacity: 1;
  }

  .navbar_contacts {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    font-style: normal;
  }

  #navbar_burger_button {
    display: none;
  }

  /*** Header section end ****/

  /**** Main section starts ****/

  /** Main section > Showcase section starts **/

  .showcase_content {
    gap: 36px;
    min-height: 436px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7)),
      url(../images/showcase-bg@2x.jpg);
  }

  .showcase_content h1 {
    max-width: 526px;
    font-size: 56px;
  }

  .showcase_content > button:hover {
    background: var(--button-hover-color);
  }

  /** Main section > Showcase section end **/

  /** Main section > Form Modal section start **/

  .form_section {
    display: none;
  }

  .is-open {
    position: absolute;
    width: 200%;
    height: 300%;
    display: block;
  }

  .form_modal {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /** Main section > Form Modal section end **/

  /** Main section > About Us section start **/

  .about_us {
    display: flex;
    align-items: center;
  }

  .about_us_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  .about_us_list > li {
    justify-items: start;
  }

  /** Main section > About Us section end **/

  /** Main section > Our Team section start **/

  .our_team_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px 24px;
  }

  .our_team_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  /** Main section > Our Team section end **/

  /** Main section > Our Portfolio section start **/

  .our_portfolio_lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 72px 24px;
  }

  .our_portfolio img {
    display: block;
  }

  .our_portfolio_lists .card_overlay_container {
    width: 360px;
    height: 300px;
    overflow: hidden;
  }

  .our_portfolio_list_top > li:hover .card_overlay,
  .our_portfolio_list_bottom > li:hover .card_overlay {
    transform: translateX(0);
  }

  /** Main section > Our Portfolio section end **/

  /** Main section > Footer section start **/

  .footer_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 96px 108px;
    gap: 24px;
  }

  .footer_content_about {
    align-items: start;
  }

  .footer_content_media {
    align-items: start;
  }

  .footer_content_subscribe {
    display: grid;
    grid-column: 1 / -1;
    align-items: start;
  }

  .footer_content_subscribe_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  .footer_content_subscribe_button > .subscribe_icon {
    width: 24px;
    height: 24px;
  }

  /** Main section > Footer section end **/

  /**** Main section end ****/
}

@media (min-width: 1440px) {
  .container {
    width: 1440px;
    margin: 0 auto;
  }

  .section {
    padding: 120px 156px;
  }

  /**** Header section start ****/

  .main_header .navbar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .navbar {
    justify-items: center;
  }

  .navbar_menu {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column: 1fr 1fr;
    gap: 76px;
  }

  .navbar_link::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -29px;
    opacity: 0;
    transition: opacity 0.25s;
    pointer-events: none;
  }

  .navbar_link:hover::after,
  .navbar_link:focus::after {
    opacity: 1;
  }

  .navbar_contacts {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 40px;
  }

  /*** Header section end ****/

  /**** Main section starts ****/

  /** Main section > Showcase section starts **/

  .showcase_content {
    gap: 48px;
  }

  .showcase_content h1 {
    max-width: 600px;
    font-size: 56px;
    line-height: 1.07143;
  }

  .showcase_content > button {
    padding: 16px 32px;
  }

  /** Main section > Showcase section end **/

  /** Main section > Form Modal section start **/

  .form_section {
    display: none;
  }

  .is-open {
    position: absolute;
    top: 250px;
    height: 200%;
    display: block;
  }

  .form_modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /** Main section > Form Modal section end **/

  /** Main section > About Us section start **/

  .about_us {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .about_us_list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .about_us_icons {
    display: block;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid var(--text-secondary-color);
    background: var(--bg-secondary-color);
    position: relative;
    margin-bottom: 8px;
  }

  .about_us_icon {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 24px;
    left: 100px;
  }

  .about_us_list > li > h3 {
    font-size: 20px;
    margin-bottom: 8px;
  }

  /** Main section > About Us section end **/

  /** Main section > Our Team section start **/

  .our_team_list {
    display: flex;
    flex-direction: row;
  }

  /** Main section > Our Team section end **/

  /** Main section > Our Portfolio section start **/

  .our_portfolio_lists {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .our_portfolio_list_top,
  .our_portfolio_list_bottom {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  /** Main section > Our Portfolio section end **/

  /** Main section > Footer section start **/

  .main_footer {
    display: flex;
    justify-content: flex-start;
  }

  .footer_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 100px 156px;
    gap: 80px;
  }

  .footer_content_about {
    margin-right: 40px;
  }

  .footer_content_subscribe_box {
    display: flex;
    flex-direction: row;
  }

  /** Main section > Footer section end **/

  /**** Main section end ****/
}

/**** Media Query Sections End ****/
